# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild

Library/
sysinfo.txt
*.stackdump

TWIST.CSharp.csproj

*.meta
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
TakeOutTheTrash/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
TWIST/Library/CurrentLayout.dwlt
TWIST/Library/CurrentLayout.dwlt
TWIST/Assembly-CSharp.csproj
TWIST/Assembly-CSharp.csproj
TWIST/Library/CurrentLayout.dwlt
TWIST/Library/InspectorExpandedItems.asset
TWIST/Library/assetDatabase3
TWIST/Library/assetDatabase3
TWIST/Library/ScriptAssemblies/Assembly-CSharp.dll
TWIST/Library/ScriptAssemblies/Assembly-CSharp.dll
TWIST/Library/assetDatabase3
*.dwlt
